<% include header %>

<section>
        <div class="text-center">
            <h1 class="bree verde grande"> <%= typeof title == "undefined" ? "Error Page" : title %> </h1>
            <p class="bree gris"><%= typeof subTitle == "undefined" ? "Algo salio mal" : subTitle %></p>
        </div>
		
</section>

<% include footer %>

