<% include header %>

<div class="container">

    <div class="jumbotron text-center" style="background-color: #7FC7AF">
        <h1><span class="fa fa-graduation-cap "></span> ULAnux Mathematica</h1>

        <p>Ingresar o Registrarse con:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Ingresar </a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarse </a>
    </div>

</div>
<% include footer %>
