<p>1.- Considere el siguiente di&aacute;logo:</p>
<pre> - &iquest;Para qu&eacute; sirve la l&oacute;gica?.
 - Para explicar para qu&eacute; sirve la l&oacute;gica. 
</pre>
<p>&iquest;Tiene sentido? &iquest;Tiene l&oacute;gica?</p>

<textarea>
	
</textarea>
<br>
<p> 2.- Los l&oacute;gicos suelen afirmar que existen ciertas palabras cuyo significado trasciende todo tema particular y, por tanto, se les puede considerar "palabras l&oacute;gicas". La palabra "y" y la palabra "o", son dos ejemplos. <br>

&iquest;Se te ocurren otros ejemplos?</p>
<textarea></textarea>

<p>&iquest;Cu&aacute;l es el significado de estas palabras?</p>

<textarea></textarea>

<p>3.- Si "o" significa lo que dice esta tabla:</p>

<p align="center">Sem&aacute;ntica de la o</p>

<table width="171" cellspacing="3" cellpadding="2" class="table table-bordered">
	<tbody>
		<tr>
			<th width="48">
				p
			</th>
			<th width="49">
				q
			</th>
			<th width="48">
				p o q
			</th>
		</tr>
		<tr>
			<td width="48">
				verdad
			</td>
			<td width="49">
				verdad
			</td>
			<td width="48">
				verdad
			</td>
		</tr>
		<tr>
			<td width="48">
				verdad
			</td>
			<td width="49">
				falso
			</td>
			<td width="48">
				verdad
			</td>
		</tr>
		<tr>
			<td width="48">
				falso
			</td>
			<td width="49">
				verdad
			</td>
			<td width="48">
				verdad
			</td>
		</tr>
		<tr>
			<td width="48">
				falso
			</td>
			<td width="49">
				falso
			</td>
			<td width="48">
				falso
			</td>
		</tr>
	</tbody>
</table>

<p> e "y" significa lo que dice esta otra tabla:</p>
<p align="center">Sem&aacute;ntica de la y</p>
<table width="238" cellspacing="3" cellpadding="2" class="table table-bordered">
	<tbody>
		<tr>
			<th width="48">
				p
			</th>
			<th width="49">
				q
			</th>
			<th width="49">
				p y q
			</th>
		</tr>
		<tr>
			<td width="48">
				verdad
			</td>
			<td width="49">
				verdad
			</td>
			<td width="49">
				verdad
			</td>
		</tr>
		<tr>
			<td width="48">
				verdad
			</td>
			<td width="49">
				falso
			</td>
			<td width="49">
				falso
			</td>
		</tr>
		<tr>
			<td width="48">
				falso
			</td>
			<td width="49">
				verdad
			</td>
			<td width="49">
				falso
			</td>
		</tr>
		<tr>
			<td width="48">
				falso
			</td>
			<td width="49">
				falso
			</td>
			<td width="49">
				falso
			</td>
		</tr>
	</tbody>
</table>
<p><br /> &iquest;Cu&aacute;l es el significado de "y/o"?.</p>
<p>4.- Una proposici&oacute;n es una oraci&oacute;n que se puede asociar con un valor de verdad. Es decir, puede ser verdadera o falsa. El lenguaje de la l&oacute;gica proposicional, o l&oacute;gica de enunciados, se construye sobre proposiciones. Algunas veces las proposiciones son representadas por letras como p, q, r, s, w.</p>
<p>Para decir que p es ________ decimos que p = V. Dualmente, p es falsa si p = _______</p>
<p>5.- Oc&uacute;pese de asignar valores a las proposiciones siguientes (a este, los l&oacute;gicos lo llaman un ejercicio de interpretaci&oacute;n en l&oacute;gica proposicional):</p>
<p>p = 3 es menor que 5, p = ______</p>
<p>q = un tri&aacute;ngulo tiene 4 lados, q = _______</p>
<p>r = Ecuador est&aacute; en America, r = _______</p>
<p>s = Existe un c&iacute;rculo perfecto, s = _______</p>
<p>w = El rey de Venezuela es ateo, w = _______</p>
<p>t = Los rect&aacute;ngulos son obligatorios, t = _______</p>
<p>u = la oraci&oacute;n u es una mentira, u = _______</p>
<p>z = la oraci&oacute;n z es improbable, z = _______</p>
<p>(NOTA: "u" y "z" son casos (muy) dif&iacute;ciles).</p>
<p>Ahora discuta los casos dif&iacute;ciles y sugiera como podr&iacute;an evitarse esas dificultades.</p>
<p><br /> 6.- Las proposiciones anteriores son llamadas <strong>proposiciones simples</strong>. Las proposiciones simples se suelen mostrar como una oraci&oacute;n con sujeto y predicado, pero no tienen que ser as&iacute; necesariamente (piense en un ejemplo). Decidir sobre la verdad o falsedad de una proposici&oacute;n puede conducir a problemas cient&iacute;ficos o filos&oacute;ficos no resueltos.</p>
<p>En lo que sigue trataremos un problema m&aacute;s simple: a) Supondremos que siempre se puede asignar a una proposici&oacute;n bien el valor v (verdadera) o bien el valor f (falso). De esta forma, se comporta como una variable que puede adoptar uno de dos valores; y b) Consideraremos <strong>proposiciones compuestas</strong> formadas por dos o m&aacute;s proposiciones simples y discutiremos que valor de verdad debemos asignarles cuando se conocen los valores de verdad de las simples.</p>
<p>7.- Vamos a considerar el caso simple de una proposici&oacute;n compuesta formada por dos proposiciones simples unidas por un "y". Juzgue el valor que dar&iacute;a a cada una y al conjunto en los siguientes ejemplos, suponiendo las definiciones en los problemas previos.</p>
<p>w = Ecuador es un pa&iacute;s y Ecuador est&aacute; en Am&eacute;rica, es decir: p y q.</p>
<p>u = El caracol es un animal y es un vertebrado = s y t.</p>
<p>Un banco le dar&aacute; cr&eacute;dito al Sr. Fulano si es verdadero que:</p>
<p>r = el Sr. Fulano es solvente y el Sr Fulano tiene los documentos en regla = a y b.</p>
<p>&iquest;En qu&eacute; casos le dar&iacute;a cr&eacute;dito? (para valores de a y de b).</p>
<p><br /> 8.- Considere las tablas en el problema 3. La tabla inferior puede considerarse como la definici&oacute;n de la operaci&oacute;n "y" (algunas veces se escribe /\, el techito, &oacute; &amp; &oacute; ^ ) a partir de los valores de p y q (de la misma manera que la tabla pitag&oacute;rica define la multiplicaci&oacute;n).</p>
<p>Note que nuestra variables p y q s&oacute;lo pueden tomar los valores ___ o ____, mientras que una variable num&eacute;rica puede adoptar infinidad de valores.</p>
<p>9.- &iquest;Coincide estrictamente la definici&oacute;n de ese "y" con el "y" en Espa&ntilde;ol?</p>
<p>10.- Considere ahora proposiciones compuestas formadas por dos simples y la palabra "o".</p>
<p>w = Suiza est&aacute; en Europa o Suiza est&aacute; en Asia = ____</p>
<p>s = El gato es un reptil o el gato es un pez = ____</p>
<p>t = El ma&iacute;z es un vegetal o el ma&iacute;z es comestible = ____</p>
<p>Un banco dar&aacute; cr&eacute;dito al Sr. Sutano cuando sea verdadero que:</p>
<p>r = El Sr Sutano es solvente o el Sr. Sutano es amigo del gerente = ___</p>
<p>&iquest;Cu&aacute;ndo se da cr&eacute;dito al Sr. Sutano?</p>
<p>A partir de esos ejemplos, dadas dos proposiciones p y q cualesquiera &iquest;cuando se dir&iacute;a que p &oacute; q es verdadera?</p>
<p><br /> 11.- La tabla inicial en el problema 3 define la operaci&oacute;n "o" (algunas veces se representa con \/, la canalita )</p>
<p><br /> 12.- &iquest;Coincide la definici&oacute;n de "o", con el "o" en Espa&ntilde;ol?.</p>
<p><br /> 13.- El "&oacute;" de un lenguaje natural, como el Espa&ntilde;ol, se llama en l&oacute;gica "o exclusivo", mientras que el "o" simple en l&oacute;gica suele ser el "o" inclusivo. Construya la tabla de verdad para el o exclusivo (o excluyente):</p>
<p>Sem&aacute;ntica de &oacute; (o exclusivo)</p>
<table width="162" cellspacing="3" cellpadding="2">
<tbody>
<tr>
<th width="48">
<p>p</p>
</th>
<th width="49">
<p>q</p>
</th>
<th width="39">
<p>p &oacute; q</p>
</th>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="39">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="39">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="39">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="39">
<p>&nbsp;?</p>
</td>
</tr>
</tbody>
</table>
<p><br /> 14.- Las proposiciones compuestas que expresan una condici&oacute;n son muy importantes en Matem&aacute;ticas y en Computaci&oacute;n. Es muy &uacute;til definir rigurosamente su sem&aacute;ntica.</p>
<p>Considere las proposiciones simples:</p>
<p>p = La temperatura llega a 80 grados. q = La cera se funde.</p>
<p>w = si p entonces q = si la temperatura llega a 80 grados, la cera se funde.</p>
<p>Suponga que se dan los ___ casos posibles de variantes de valores para p y q. &iquest;En cu&aacute;les casos w se podr&iacute;a considerar verdadera y en cu&aacute;les falsa?</p>
<p>Sem&aacute;ntica de si .. entonces ..</p>
<table width="230" cellspacing="3" cellpadding="2">
<tbody>
<tr>
<th width="48">
<p>p</p>
</th>
<th width="49">
<p>q</p>
</th>
<th width="107">
<p>si p entonces q</p>
</th>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="107">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="107">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="107">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="107">
<p>&nbsp;?</p>
</td>
</tr>
</tbody>
</table>
<p><br /> La decisi&oacute;n de como conviene asignar valores a w = si p entonces q (o p -&gt; q, como otras veces se escribe) ha sido muy discutida en la historia de la l&oacute;gica. Se ha convenido que w es falsa SOLO SI p es verdadera y q es falsa.</p>
<p>A esta operaci&oacute;n se le llama implicaci&oacute;n (material).</p>
<p>15.- &iquest;En cu&aacute;les casos coincide la tabla con el sentido usual de las oraciones si ... entonces .. en Espa&ntilde;ol?.</p>
<p><br /> 16.- Suponga que si p entonces q es verdadera,</p>
<p>a) &iquest;Es necesario que p sea cierta para que q sea cierta? _____________</p>
<p>b) &iquest;Es suficiente que p sea cierta para que q sea cierta? _____________</p>
<p><br /> 17.- Considere ahora el caso con si p entonces q y si q entonces p. Complete la tabla siguiente:</p>
<p>Sem&aacute;ntica de q equivalente a p</p>
<table width="598" cellspacing="3" cellpadding="2">
<tbody>
<tr>
<th width="48">
<p>p</p>
</th>
<th width="49">
<p>q</p>
</th>
<th width="108">
<p>si p entonces q</p>
</th>
<th width="108">
<p>si q entonces p</p>
</th>
<th width="246">
<p>(si p entonces q) y (si q entonces p)</p>
</th>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="246">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>verdad</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="246">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>verdad</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="246">
<p>&nbsp;?</p>
</td>
</tr>
<tr>
<td width="48">
<p>falso</p>
</td>
<td width="49">
<p>falso</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="108">
<p>&nbsp;?</p>
</td>
<td width="246">
<p>&nbsp;?</p>
</td>
</tr>
</tbody>
</table>
<p>a) &iquest;Es necesario que p sea cierta para que q sea cierta? _____________</p>
<p>b) &iquest;Es suficiente que p sea cierta para que q sea cierta? _____________</p>
<p><br /> 18.- La proposici&oacute;n compuesta (si p entonces q) y (si q entonces p) se denomina <strong>equivalencia</strong> y se suele escribir p &lt;-&gt; q.</p>
<p>&iquest;C&oacute;mo se justifica el llamarlas equivalentes?</p>
<p>N&oacute;tese que si p &lt;-&gt; q entonces que p sea cierto es condici&oacute;n necesaria y _________________ para que q tambi&eacute;n lo sea.</p>
<p>19.- En Matem&aacute;ticas es muy usual tener que demostrar que dos afirmaciones p y q son equivalentes. Se suele decir que p es <em>condici&oacute;n necesaria y suficiente</em> para q. Para demostrarlo es preciso probar que p -&gt; q y que q -&gt; p.</p>
<p>Para probar p -&gt; q, se suele asumir que p es cierto y proceder con la prueba de q.</p>
<p>Ejemplo: Demostrar que para que un n&uacute;mero sea divisible por 6 es necesario y suficiente que lo sea por 2 y por 3 (Recuerde el teorema de divisibilidad que dice: si y solo si a*b es divisible por k entonces a es divisible por k o b es divisible por k).</p>
<p><br /> 20.- La negaci&oacute;n de una proposici&oacute;n es tambi&eacute;n una proposici&oacute;n. &iquest;C&oacute;mo es su tabla de verdad?</p>
<p><br /> 21.- Una <strong>prueba en l&oacute;gica</strong> es una secuencia de f&oacute;rmulas que se "conectan" unas con otras. As&iacute;, si nos dicen que las siguientes proposiciones son ciertas:</p>
<p>si p entonces q.</p>
<p>si q entonces r.</p>
<p>p = v.</p>
<p>uno puede concluir que r = v, con el siguiente <strong>argumento</strong>:</p>
<p>p = v.</p>
<p>si p entonces q.</p>
<p>q = v.</p>
<p>si q entonces r.</p>
<p>________________</p>
<p>r = v.</p>
<p>Una prueba es un argumento v&aacute;lido.</p>
<p><br /> 22.- En l&oacute;gica existen ciertas <strong>reglas de inferencia</strong>, que parece ser formas gen&eacute;ricas para los argumentos. La m&aacute;s conocida se llaman <strong>modus ponens</strong>:</p>
<p>A = v</p>
<p>si A entonces B</p>
<p>________________</p>
<p>B = v</p>
<p>Noten que esta A y esta B son variables que representan a cualquier proposici&oacute;n.</p>
<p>Otra regla de inferencia menos popular, pero sumamente poderosa en computaci&oacute;n es la <strong>modus tollens</strong>:</p>
<p>si A entonces B</p>
<p>no B (&oacute; B = f)</p>
<p>_______________</p>
<p>no A (&oacute; A = f).</p>
<p><br /> 23.- Otra regla de inferencia, conocida como <strong>Resoluci&oacute;n,</strong> ha sido convertida en un sistema para pruebas autom&aacute;tico y ha sido implementada en la plataforma y lenguaje de programaci&oacute;n para <strong>Inteligencia Artificial</strong><em>PROLOG</em>.</p>
<p>A partir de este texto:</p>
<pre> b&nbsp;:- a.
 a.</pre>
<p>Un programa Prolog (de los muchos que hay), responder&iacute;a a la consulta</p>
<pre>&nbsp;? b. (que significa que asumo que b es falso)</pre>
<p>con un</p>
<pre> true</pre>
<p>queriendo decir que el sistema REFUTA (niega) que b sea falso (el <em>true</em> es por S&iacute;! pude probar que no es falso). Es decir, b es cierto.</p>
<p><br /> 24.- Para apreciar la utilidad de estas herramientas l&oacute;gicas, muchas personas parecen preferir el uso de proposiciones m&aacute;s significativas (es decir, m&aacute;s f&aacute;cilmente le&iacute;bles). Considere el siguiente <strong>Programa L&oacute;gico</strong>:</p>
<pre> fiebre&nbsp;:- infeccion.
 infeccion&nbsp;:- colonia_bacterial.
 infeccion&nbsp;:- virus.
 mas_leucocitos&nbsp;:- fiebre, \+(caso_raro).</pre>
<p>Ese texto es la codificaci&oacute;n para un sistema Prolog de una base de conocimiento en la que 1) una infecci&oacute;n implica fiebre, 2) una colonia bacterial implica una infecci&oacute;n, 3) un virus implica una infecci&oacute;n y 4) hay m&aacute;s leucitos en el cuerpo si hay fiebre y no es un caso raro.</p>
<p>Un "paciente" que se presente con:</p>
<pre> virus.</pre>
<p>podr&iacute;a conducir a la prueba de que</p>
<pre>&nbsp;? fiebre.
 true. </pre>
<p><br /> 25.- La l&oacute;gica descrita en los items anteriores es la l&oacute;gica de proposiciones. Esta forma de l&oacute;gica tiene una expresividad limitada. Esto significa que es m&aacute;s dif&iacute;cil o incluso imposible plasmar ciertas verdadades en ese lenguaje. Por ejemplo, escriba que todos los n&uacute;meros naturales son enteros.</p>
<p>Existen otras formas de l&oacute;gica mucho m&aacute;s expresivas que la l&oacute;gica proposicional. El mismo Arist&oacute;teles, padre de la l&oacute;gica, hace m&aacute;s de 25 siglos, propuso la primera: La <strong>l&oacute;gica de los silogismos</strong>. Los silogismos son una forma particular de argumentos que emplean la siguiente representaci&oacute;n de proposiciones:</p>
<pre> Todo P es M</pre>
<p>&oacute; Alg&uacute;n P es M</p>
<p>&oacute; Ning&uacute;n P es M</p>
<p>en la que P y M son <strong>t&eacute;rminos variables</strong>. Es decir, P y M puede ser reemplazados por t&eacute;rminos que describen objetos particulares. Por ejemplo.</p>
<pre> Toda ballena es mam&iacute;fero. </pre>
<p><br /> 26.- La forma m&aacute;s popular de l&oacute;gica con variables, sin embargo, es ahora la <strong>l&oacute;gica de predicados</strong>, propuesta hace 2 siglos por Frege. Es muy popular en Computaci&oacute;n, al punto es existen sistemas capaces de ejecutarla. Por ejemplo, con esta forma:</p>
<pre> hij_(jesus, jose)</pre>
<p>podr&iacute;amos representar en Prolog que Jes&uacute;s es hijo (o hija) de Jos&eacute;. Una de las virtudes m&aacute;s interesantes de la l&oacute;gica de predicados es la posibilidad de emplear cuantificadores sobre t&eacute;rminos variables.</p>
<p>Por ejemplo, para decir que si un individuo es hijo de otro entonces el segundo es padre del primero y <u>esto vale para todo padre y todo hijo</u>, dir&iacute;amos en Prolog:</p>
<pre> padre(X, Y)&nbsp;:- hij_(Y,X). </pre>
<p>En este ejemplo, la forma precisa de traducirlo a l&oacute;gica de predicados es:</p>
<pre> Para todo X y todo Y, si Y es hijo de X entonces X es ________ de Y. </pre>
<p><br /> 27.- La expresividad de la l&oacute;gica de predicados, inclusive de subconjuntos suyos como la llamada <strong>l&oacute;gica de primer orden</strong>, es notable cuando se trata de representar relaciones que se definen en t&eacute;rminos de s&iacute; mismas. Las llamadas <strong>definiciones recursivas o recurrentes</strong> son sumamente &uacute;tiles en matem&aacute;ticas. Por ejemplo, para definir a los n&uacute;meros, uno podr&iacute;a decir (siguiendo a Peano) que:</p>
<pre> el cero es un numero.
 si n es un n&uacute;mero, el sucesor de n tambi&eacute;n lo es. </pre>
<p>&iquest;Donde est&aacute; la definici&oacute;n recursiva en este ejemplo?. &iquest;Podemos escribir definiciones recursivas en l&oacute;gica de proposiciones?</p>
<p><br /> 28.- Las definiciones recursivas pueden ser muy &uacute;tiles para representar relaciones sobre conjuntos cuyo tama&ntilde;o no est&aacute; definido a priori. Por ejemplo, este:</p>
<pre> ancestro(X,Y)&nbsp;:- hijo(Y,X).
 ancestro(X,Y)&nbsp;:- ancestro(X,Z), ancestro(Z,Y). </pre>
<p>Es un programa l&oacute;gico que nos permitir&iacute;a computar la l&iacute;nea de ascendencia filial a partir de un registro de padres e hijos en una familia dada. Pru&eacute;belo con la suya. &iquest;Qu&eacute; otras reglas se le ocurre incluir?</p>
<hr />
<p>Copyright 2007 Carlos Domingo, Jacinto D&aacute;vila Universidad de Los Andes. Venezuela.</p>
<p>Se concede permiso de copiar, distribuir o modificar este documento bajo los t&eacute;rminos establecidos por la licencia de documentaci&oacute;n de GNU, GFDL, Version 1.1 publicada por la Free Software Foundation en los Estados Unidos, siempre que en la nuevas contribuciones se mantengan las secciones actuales sin cambios de fondo y los cambios de fondo se coloquen en nuevas secciones o con nuevos textos de portada o nuevos textos de cubierta final. Tambi&eacute;n se requiere mantener invariantes los espacios vacios de este documento, claves para el ejercicio de aprendizaje y descubrimiento. Una copia de esta licencia se incluye en alg&uacute;n lugar del documento como ``GNU Free Documentation License&acute;&acute;. Nos apegaremos a esta licencia siempre que no contradiga los t&eacute;rminos establecidos en la legislaci&oacute;n correspondiente de la Rep&uacute;blica Bolivariana de Venezuela.</p>
<p>Seg&uacute;n establece GFDL, se permite a cualquier modificar y redistribuir este material y los autores originales confiamos que otros crean apropiado y provechoso hacerlo. Esto incluye traducciones, bien a otros lenguajes naturales o a otros medios electr&oacute;nicos o no.</p>
<p>En nuestro entender de GFDL, cualquiera puede extraer fragmentos de este texto y usarlos en un nuevo documento, siempre que el nuevo documento se acoja tambi&eacute;n a GFDL y s&oacute;lo si se mantienen los cr&eacute;ditos correspondientes a los autores originales (tal como establece la licencia).</p>
<p>fin del documento de L&oacute;gica. Mayo 2007.</p>